Do you want to edit <%=@podcast.name%>?

<form method="post" action="/podcasts/<%=@podcast.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="text" name="name" placeholder="<%=@podcast.name%>">
<label for="listened">Listened to already?</label>
<input name="listened" type="checkbox" value="TRUE">
<input type="submit" value ="Edit Podcast">
</form>

<br>Do you want to delete <%=@podcast.name%>?
<form method="post" action="/podcasts/<%=@podcast.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Podcast">
</form>
